<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate your Mnstagram account</title>
</head>

<body>
    <p>Hello, {{usernamme}}</p><br />
    <p>Thank you for using Mnstagram. Use the confirmation code below to verify your it&apos;s you.</p><br />
    <p style="font-weight: bold;">{{confirmationCode}}</p><br />
    <p>This code will expire in 24 hours. If you did not sign up for a Mnstagram account, you can safely ignore this email.</p><br />
    <p>Best Regards,</p>
    <p>The Mnstagram Team</p>
    <p><a href="{{url}}">Visit Mnstagram</a></p>
</body>

</html>